[Desktop Entry]
Type=Application
Name=Vicinae
GenericName=Vicinae
Comment=A focused launcher for your desktop
Exec=/bin/sh -c "vicinae server --no-replace || vicinae open"
Terminal=false
Icon=vicinae
Categories=Utility;Accessibility;
NoDisplay=false
Actions=restart;close
StartupWMClass=vicinae

[Desktop Action restart]
Name=Restart Vicinae Server
Exec=vicinae server --replace

[Desktop Action close]
Name=Close Vicinae Window
Exec=vicinae close
