[Desktop Entry]
Type=Application
Name=Vicinae
GenericName=Vicinae
Comment=A focused launcher for your desktop — native, fast, extensible
Exec=/bin/sh -c "vicinae server || vicinae toggle"
Terminal=false
Icon=vicinae
Categories=Utility;Launcher;Accessibility;
NoDisplay=false

[Desktop Action restart]
Name=Restart Vicinae Server
Exec=vicinae server --replace
