[Desktop Entry]
Type=Application
Name=Vicinae
GenericName=Vicinae
Comment=Support for vicinae:// url scheme
Exec=vicinae %u
Terminal=false
Icon=vicinae
Categories=System;Utility;
NoDisplay=true
MimeType=x-scheme-handler/vicinae;x-scheme-handler/raycast;
